    <!-- <div class="homeCourseCard">
        <h3 class="subject" data-category="categoryValue"></h4>
        <h3 class="classcode"></h4>
        
        <h4 class="date"></h4>
      
      
    </div> -->
    <div class="home-course-item" data-category = "">
      <a href="">
        <div class="home-course-top">
          <p><span class="name">purnsup</span> · <span class="date">12 hours ago</span></p><p class="amount"><span class="likes"></span><span class="comments"></p>
        </div>
        <h3><span class="subject"></span> · <span class="code"></span></h3>
        
      </a>
    </div>