    <div class="homeCourseCard">
        <h3 class="subject" data-category="categoryValue"></h4>
        <h3 class="classcode"></h4>
        
        <h4 class="date"></h4>
      
      
      <!-- <div class="heartCommentBtn">
        <button class="clickHeart">
          <i class="fa-regular fa-heart"></i>
          <span class="heartCount">0</span>
        </button>
        <button class="clickComment">
          <i class="fa-regular fa-comment"></i>
          <span class="commentCount">0</span>
        </button>
      </div>   -->
    </div>
