/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Web Fonts - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

/* Web Fonts - NoonNoo */
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
button, input {
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* Default CSS */
html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  margin: 0;
  background-color: #fff;
  color: #222;
  width: 100%;
}

section {
  padding: 130px 0;
}

/* ####################### Header ####################### */
header {
  position: fixed;
  width: 100%;
  /* z-index: 10; */
  transition: 0.5s;
}
header.active {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}
.header-inner {
  width: 1300px;
  margin: auto;
  /* overflow: hidden; */
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.logo {

}
.logo img {

}
.gnb {
}
.gnb a {
  margin: 10px;
  font-size: 16px;
}
.loginBtn.none{
  display:none;
}
.signoutBtn{
  display:none;
}
.signoutBtn.display{
  display:inline-block;
}
.signupBtn{
  /* display:display; */
}
.signupBtn.none{
  display:none;
}
.profileBtn{
  display:none;
}
.profileBtn.display{
  display:inline-block;
}

/**************************** community ***********************************/
.posts_body{
  margin: auto;
  max-width: 1300px;
}
.posts {
  width: 840px;
  margin: auto;
  padding: 0;
}
.posts_bar{
  width: 840px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
}
.write{
  margin-left: 10px;
  flex-grow: 1;
  
}
.categories{
  display: flex;
  flex-grow:6;
  text-align:center;
  justify-content: center;
  align-items:center;
}
.categories p{
  margin: 0 20px;
  cursor: pointer;
}
.categories .active{
  background-color: gray; 
}

.search{
  width: 840px;
  margin: auto;
  padding: 0 30px;
}
.search_form{
  text-align:center;
}

.post{
  padding: 0 10px 0 10px;
  width: 840px;
  margin: auto;
  border-bottom: 1px solid rgb(187, 187, 187);
}
.name {
  margin-right: 10px;
}
.name, .title, .post-bottom p{
  margin-bottom: 10px;
  margin-left: 
}
.post-bottom{
  display: flex;
  justify-content: space-between;
}
.post-bottom p{
  margin-top: 0;
}
.amount span{
  margin: 0 4px 0 4px;
}

/************************* posting page *****************************/
.posting-body{
  width: 1300px;
  margin: auto;
}
.posting-form{
  width: 840px;
  margin:auto;
  text-align:center;
}

.postBox, .commentsBox{
  width: 840px;
  margin:auto;
  /* text-align:center; */
  overflow:hidden;
  
}
.postBox p{
  font-size: 14px;
}
.post-head{
  position:relative;
  padding-left: 40px;
}
.post-head:before{
  content:'';
  width: 30px;
  display:inline-block;
  position:absolute;
  border-top: 1px solid rgb(190, 190, 190);
  left: 0;
  top: 50%;
}
.post-head:after{
  content: '';
  width: 100%;
  position:absolute;
  border-top: 1px solid rgb(190, 190, 190);
  margin-left: 10px;
  top: 50%;
}
.post-head .category{
  color:royalblue;
}
.mainText{
  position:relative;
}
.mainText:after{
  margin-top: 100px;
  content: '';
  position:absolute;
  display:block;
  width: 100%;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.commentsBox{
  padding-top: 30px;
}
.comment-form{
}
.commentArea{
  justify-content: center;
  display: flex;
  padding: 20px;
  margin-bottom:20px;
}
.commentArea textarea{
  width: 80%;
  height: 80px;
  resize:none;
  outline:none;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}


.comments{
  padding: 10px;
}
.comments .info{
  background-color: #f1f1f1;
  display: flex;
}
.comment {
  display:none;
}
.comment.active{
  display:block;
}
.info p{
  font-size: 14px;
  margin: 2px 10px;
}
.content{
  font-size:14px;
  margin: 4px;
  margin-bottom: 12px;
}

.main-text textarea {
  white-space: pre-wrap;
}

/* comment  */
.commentDetail {
  display: flex;
  align-items: center;
}

/* **************  community post ******************* */
.postBtns{
  display:none;
}
.postBtns.display{
  display:block;
}


/* registration */

.registration{
  width: 1300px;
  margin: auto;
}
.registration form{
  width: 800px;
  margin: auto;
}
.registration form div{
  width: 600px;
  text-align:cneter;
}
.opt{
  display:none;
}
.opt.display{
  display:block;
}
.user-info{
  padding: 20px 0 ;
  display:none;
}
.user-info.display{
  display:block;
}

/* login */
.section-login{
  width: 1300px;
  margin: auto;
}
.login-form{
  width: 800px;
  margin: auto;
}
.section-login form div{
  width: 600px;
  text-align:cneter;
}