/* full pc view: (course) write and update page*/
@media(min-width: 913px){
  .posting-body{
    flex-direction: row;
  }

  .courseAnnouncement{
    width: 48%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-line);
    border-color: black;
    padding: 10px;
  }
    
  .firstParagraph{
    font-size: small;
  }
  textarea{
    padding: 20px;
  }
  .posting-courseForm{
    width:52%;
  }
  #textArea{
    width: 100%;
    height: 80%;
}
}

  
  