/* full pc view: (course) write and update page*/
@media(min-width: 1000px){
  .posting-body{
    flex-direction: row;
  }

  .courseAnnouncement, .updating-courseForm{
    width: 48%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-line);
    border-color: black;
    padding: 10px;
  }
  
  .firstParagraph{
    font-size: small;
  }

  .btn{
    padding-left: 20px;
  }
  l
  label, textarea{
    padding: 20px;
  }
  .posting-courseForm{
    width:52%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-line);
    border-color: black;
    padding: 10px;
  }
  .main-text{
    margin: auto;
  }
  #textArea{
    width: 100%;
    height: 80%;
    
}
}

  
  