/* full pc view: (course) write and update page*/
@media(min-width: 800px){
    .courseAnnouncement{
      width: 50%;
      margin: 10px;
      border-radius: 10px;
      border: 1px solid var(--color-line);
      border-color: black;
      padding: 10px;
    }
    .firstSentence{
      display: flex;
    }
    .firstSentence p{
      margin: 0px;
    }
    .firstParagraph{
      font-size: small;
    }
    textarea{
      padding: 20px;
    }
  }
  
  .bad{
    color: red;
  }
  .good{
    color: blue;
  }
  
  