@media (max-width: 999px) and (min-width: 426px){
    .courseAnnouncement{
        width: 90%;
        border-radius: 10px;
        border: 1px solid var(--color-line);
        border-color: black;
        padding: 10px;
    }
    .posting-body{
        flex-direction: column;
        align-items: center;
    }
    .firstParagraph{
        font-size: medium;
    }
    textarea{
        padding: 20px;
    }
    .select-category{
        width: 90%;
    }
    .posting-courseForm, .updating-courseForm{
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 10px;
        border-radius: 10px;
        border: 1px solid var(--color-line);
        border-color: black;
        padding: 10px;
        
    }
    #textArea{
        width: 100%;
        height: 300px;
    }
}