<div class ="cmt">
  <div class="info">
    <div class="data">
      <p class="author">Moon</p>
      <p class="date">2023/5/22</p>
    </div>
    <div class="revise">
      <a class ="edit-comment" href="">edit</a>
      <a class ="delete-comment" href="">delete</a>
    </div>
  </div>
  <p class="content"></p>
  <div class="editArea">
    <textarea class="editBox" name="" id="" cols="30" rows="10"></textarea>
    <div class="editBtns">
      <button class="commentEdit">edit</button>
      <button class="editCancel">cancel</button>
    </div>
  </div>
</div>