<div class = "card">
  <div class ="top">
    <h4 class = "subject"></h4>
    <h4 class = "classcode"></h4>

    <h4 class = "date"></h4>
  </div>
  <div class ="nicks">
    <h4 class = "nick">:</h4>
    <h4>:</h4>
  </div>
  <p class = "textBox"></p>
  <button>
    <i class = "fa-regular fa-heart"></i>
  </button>
  <button>
    <i class = "fa-regular fa-comment" data-class ="commentBtn"></i>
  </button>
  <button>
    <i class = "fa-regular fa-flag"></i>
  </button>

  <div class="comment" data-class="comment">hello</div>
</div>


