<div class="twoRow">
  <div class="card">
    <div class="top">
      <h4 class="subject"></h4>
      <h4 class="classcode"></h4>
      <h4 class="date"></h4>
    </div>
    <div class="authors">
      <h4 class="author">:</h4>
      <h4>:</h4>
    </div>
    <p class="textBox"></p>
    <div class="heartCommentBtn">
      <button>
        <i class="fa-regular fa-heart fa-3x"></i>
      </button>
      <button>
        <i class="fa-regular fa-comment fa-3x"></i>
      </button>
    </div>

    <div class="writeComment">
      <div class="circleBorder">You</div>
      <input
        type="text"
        class="reply"
        name="reply"
        placeholder="Write Something..."
      />
      <button class="commentReplyBtn">
        <i class="fa-solid fa-share fa-2x"></i>
        <span class="icon-text">reply</span>
      </button>
    </div>
    <div class="comment" data-class="comment">hello</div>
  </div>
  <div class="updateAndDelete">
    <a class="updateCourse" href="../posting/updateCourse.html">
      <i class="fa-solid fa-arrows-spin fa-2xl"></i>
      <span class="icon-text">update</span>
    </a>
    <button class="deleteCourse">
      <i class="fa-solid fa-trash fa-2xl"></i>
      <span class="icon-text">delete</span>
    </button>
  </div>
</div>
