.coursePost {
  padding-right: 25px;
  max-width: 200px;
  min-height: 50px;
  margin: auto;
  font-size: x-large;
}
#selectSubject{
  margin-right: 25px;
  border-radius: 20px 20px 20px 20px;
  width:300px; 
  height: 50px; 
  font-size: larger;
}
#selectCode {
  border-radius: 20px 20px 20px 20px;
  width:300px; 
  height: 50px; 
  font-size: larger;
}
.card {
  border: 2px solid gray;
  border-radius: 20px 20px 20px 20px;
  max-width: 900px;
  min-height: 300px;
  min-width: 850px;
  
  margin-right: 10px;
  /* position: relative; */
  text-align: center;
  font-family: arial;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.3);
  }
  
  /* Add some padding inside the card container */
.top {
    padding: 5px 16px;
    padding: 40px;
    display: flex;
  }

.bodyBar{
  padding: 130px 0px 0px 0px;
  margin: auto;
  max-width: 700px;
}

.cards{
  padding: 10px;
}

.subject{
  padding-right: 30px;
}

.classcode{
  padding-right: 400px;
}

.date{
  padding-left: 10px;
}

.author{
  padding-left: 50px;
  padding-right: 20px;
}
.content{
  width: 400px;
}

.authors{
  display: flex;
  max-height: 30px;
}

.textBox{
  border: 1px solid gray;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: 800px;
  min-height: 100px;
}

.comments{
  padding: 0px;
}

button {
  border: none;
  background-color:transparent;
}

.circleBorder {
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 50%; /* 테두리를 원 형태로 만듦 */
}
input {
  width: 80%;
  height: 40px;
}

.writeComment {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* flex for update and delete buttons */
.twoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px auto;
}

.updateAndDelete {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.updateCourse, .deleteCourse {
  padding-top: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.commentReplyBtn,
.commentDeleteBtn
.commentEditBtn{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon-text {
  padding-top: 20px;
  position: absolute;
   /* 텍스트를 아이콘 위에 표시하도록 조정 */
  left: 50%;
  
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0; /* 처음에는 텍스트 숨김 */
  transition: opacity 0.3s ease-in-out;
  font-size: medium;
}

.updateCourse:hover .icon-text {
  opacity: 1; /* 아이콘에 마우스를 올렸을 때 텍스트를 나타나게 함 */
}
.deleteCourse:hover .icon-text {
  opacity: 1; /* 아이콘에 마우스를 올렸을 때 텍스트를 나타나게 함 */
}
.commentReplyBtn:hover .icon-text{
  opacity: 1;
}
.commentEditBtn:hover .icon-text{
  opacity: 1;
}
.commentDeleteBtn:hover .icon-text{
  opacity: 1;
}