#courseWriteURL{
  color: white;
  width: 110px;
}
.courseWrite {
  margin: auto; 
  background-color: royalblue;
  padding: 10px;
  width: 110px;
  align-items: center;
  
  border-radius: 10px;
}
#selectSubject{
  margin-right: 25px;
  border-radius: 20px 20px 20px 20px;
  width:300px; 
  height: 50px; 
  font-size: larger;
}
#selectCode {
  border-radius: 20px 20px 20px 20px;
  width:300px; 
  height: 50px; 
  font-size: larger;
}
.card {
  border: 4px solid gray;
  border-radius: 20px 20px 20px 20px;
  min-height: 300px;
  width: 900px;
  
  margin-right: 10px;
  /* position: relative; */
  text-align: left;
  font-family: arial;

}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.3);
  }
  
.courseTop {
  display: flex;
  width: 600px;
  justify-content: center;
}
  /* Add some padding inside the card container */
.top {
    padding: 5px 16px;
    padding: 40px 30px 0px 40px;
    display: flex;
  }

.bodyBar{
  padding: 130px 0px 0px 0px;
  margin: auto;
  max-width: 700px;
}

.cards{
  padding: 10px;
}

.subject{
  font-weight: 550;
  font-size: 22px;
  width: 100px;
  margin-right: 50px;
}

.classcode{
  font-weight: 550;
  font-size: 22px;
  width: 530px;
}

p.date{
  width: 100px;
}
h4.author{
  padding-left: 40px;
  width: 400px;
  font-weight: 400;
  font-size: 22px;
}
p.author{
  font-weight: 400;
  font-size: 18px;
  width: 150px;
  max-width: 180px;
  padding-left: 40px;
  padding-right: 20px;
  margin: 0px;
}
.content{
  width: 400px;
}

.authors{
  display: flex;
  padding-left: 50px;
  max-height: 40px;
}

.textBox{
  border: 1px solid gray;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: 800px;
  min-height: 100px;
}

.comments{
  padding: 0px;
}

button {
  border: none;
  background-color:transparent;
}

.circleBorder {
  display: inline-block;
  padding: 12px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 50%; /* 테두리를 원 형태로 만듦 */
}
input {
  margin-left:10px;
  width: 80%;
  height: 40px;
}

.writeComment {
  width: 892px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

/* flex for update and delete buttons */
.twoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px auto;
}

.updateAndDelete {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  display: none;
}

.updateCourse, .deleteCourse {
  padding-top: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.commentDetail{
  width: 892px;
  min-height: 30px;
}
.commentReplyBtn,
.commentDeleteBtn,
.commentEditBtn{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon-text {
  padding-top: 20px;
  position: absolute;
   /* 텍스트를 아이콘 위에 표시하도록 조정 */
  left: 50%;
  
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0; /* 처음에는 텍스트 숨김 */
  transition: opacity 0.3s ease-in-out;
  font-size: medium;
}

.updateCourse:hover .icon-text {
  opacity: 1; /* 아이콘에 마우스를 올렸을 때 텍스트를 나타나게 함 */
}
.deleteCourse:hover .icon-text {
  opacity: 1; /* 아이콘에 마우스를 올렸을 때 텍스트를 나타나게 함 */
}
.commentReplyBtn:hover .icon-text{
  opacity: 1;
}
.commentEditBtn:hover .icon-text{
  opacity: 1;
}
.commentDeleteBtn:hover .icon-text{
  opacity: 1;
}
.displayCommentBtn{
  display: none;
}
.updateAndDelete.display{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.displayCommentBtn.display{
  display:block;
}

.courseCommentContent{
  font-size: small;
  width: 530px;
  word-wrap: break-word;
  margin: 5px 0px 5px 0px;
  max-height: 300px;
}

/* content -> input when click comment edit */
.courseCommentContent.none{
  display:none;
}

.courseCommentEditBox{
  width: 400px;
}

/* Heart button and Comment button in Course page */
.heartCommentBtn {
  
  margin-left: 90px;
  display: flex;
}
.clickHeart, .clickComment{
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.5rem;
  color: #333;
}
.clickHeart.clicked {
  color: red;
  fill: red;
}

/* comment edit input area*/
.editArea{
  width:530px;
  display:none;
  align-items: center;
}

.editArea.display{
  display: flex;
  justify-content: center;
}
.editArea .editBox{
  width: 80%;
  resize:none;
  height: 100px;
}
.editBtns button{
  display:block;
}

.courseCommentEditBox{
  width: 480px;
}
.commentEdit{
  cursor: pointer;
  font-size: medium;
}