.post {
  max-width: 150px;
  min-height: 50px;
  margin: auto;
  font-size: x-large;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  position: relative;
  margin-top: 5px;
  text-align: center;
  font-family: arial;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
.top {
    padding: 2px 16px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

